@{
    ViewBag.Title = "delete_id";
}

<h2>delete_id</h2>
<form method="post" action="/Home/EditResume">
                            <div>
                            <br>Resume Title   :<input type="text" id ="r_t" name="email   ">
                            <input type="submit" value="Search">
                                </div>
                            </form>
						