@{
    ViewBag.Title = "Employer";
 Layout="~/Views/Shared/_Layoutmy.cshtml";
  }

 <h2> Employer  </h2>
<html>
	
		<body>
		<link href="~/Content/style.css" rel="stylesheet" />
		

		<div id="site_content">		
			<div class="container">
				
			<!-- Features -->
				<div class="row">
					<section class="8u">
					
					<!-- Banner -->		
						<div id="banner">
							<a href="#"><img src="~/images/s1.jpg" alt="banner image" /></a>
						</div>					
					
						<h2>Post New Job Ads</h2>
                         <form action="/EX/post" method ="post" >
                        <input type="submit" value="Post">
                         </form>
                        <h2> see visibility of your jobs</h2>
                        <input type="submit" value="Search">
                        <h2>Resume Search </h2>
                        <input type="submit" value="Search">
						<h2>Employer Showcase</h2>
                        <input type="submit" value="Search">
					</section>

					
					
					
				</div>
		    </div>
		</div>		
		
	</body>
</html>  
