@{
    ViewBag.Title = "post";
 Layout="~/Views/Shared/_Layoutmy.cshtml";
  }

<h2>Post Ads</h2>

<html>
	
		<body>
	<link href="~/Content/style.css" rel="stylesheet" />
	
        
		         <section>
						
                        <form>
                       
                         
                        <br>job Category    :<input type="text" name="email   ">
                        
                        <br>Required  Experience     :<input type="text" name=" email"   value="Experience ">
                        <br>Education     :<input type="text" name="email ">
                         <br>Number Of Vacancies  :<input type="text" name="email   ">
                         <br>Shift Timings   :<input type="text" name="email   " />
                        <br>Salary   :<input type="text" name="email   "> 
                        <br>skills :<input type="text" name="email   ">
                        <br>Company    :<input type="text" name="email   ">
                       <br>Address:<input type="text" name="email ">
                        <br>Phone :<input type="text" name="email   ">
                        <br>Established in :<input type="text" name="email   ">
                          <br>Last Date  :<input type="text" name="email   ">
                            <br>Posted on  :<input type="text" name="email   ">
                       <br><span>Province</span><select id="Select1" name="name"><option value="1">Punjab</option><option value="2">Sindh</option>
                       <option value="2">Balochistan</option><option value="2"> Khyber Pakhtunkhwa	</option> </select>
                           
                      <br><span>City</span><select id="Select1" name="name"><option value="1">Lahore</option><option value="2">Karachi</option>
                       <option value="2">Islamabad</option><option value="2">Faisalbad</option><option value="2">Peshawer</option> </select>
                               <p>       </p>
                      </form>
                        
                                            <input type="submit" value=" SUBMIT ">
					</section>

					
					<section class="4u">
						<div id="sidebar">
							
							
							
						</div>
					</section>
		</body>


</html>
