@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Contact</h2>
<html>
	<body>
		
		
		<link href="~/Content/style.css" rel="stylesheet" />
		
						
		<div id="site_content">
			<div class="container">			
			
				<!-- Features -->			
				<div class="row">									
					<section class="8u">				
						
						<!-- Banner -->								
						<div id="banner">
							<a href="#"><img src="~/images/b.jpg" alt="banner image" /></a>
						</div> 
						</section>
					
					<section class="4u">
						<div id="sidebar">
							
						<h1>Welcome to the Career.com </h1>
                            <p>      If you have any queries related to Mustakbil.com or any of our services, please don't hesitate to contact us. We provide following support channels to help out our customers. Please select the one that is more appropriate for you:</p>
							<p> Phone:  +92-51-8313316, 8313317</p>
           
                <p >Fax:	+92-51-5516207 </p>
            
                 <p>Email:  support@career.com </p>
          
                <p>Fax:   (+ 92 42) 36368857 </p>
              
                <p>Address	TechnoBird, Rawalpindi, Punjab,Pakistan</p>
              
						</div>
					</section>			

				</div>
			</div>
        </div>		
		
			<div class="container">			
			
	</body>
</html>
