
@{
    ViewBag.Title = "updateResume";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>updateResume</h2>
	
                        <form method="post" action="/Home/DeleteItem1">
                            <div>
                                <h2>Enter ID of REsume to Update</h2>
                            <br>ID  :<input type="text" id ="idd" name="idd">
                            <input type="submit" value="Search">
                                </div>
                            </form>
						