
@{
    ViewBag.Title = "Home";
 Layout="~/Views/Shared/_LayoutHome.cshtml";
  }

 
<html>
	<body>
		
		
		<link href="~/Content/style.css" rel="stylesheet" />
		
						
		<div id="site_content">
			<div class="container">			
			
				<!-- Features -->			
				<div class="row">									
					<section class="8u">				
						
						<!-- Banner -->								
						<div id="banner">
							<a href="#"><img src="~/images/b.jpg" alt="banner image" /></a>
						</div> 
						
						<h1>Welcome to the Career.com </h1>
						<p> Here are all the resources you'll need for a successful online job search including how to
                            write resumes and cover letters, where to look for jobs, how to conduct a job search, the 
                            best way to use networking and social media to job search, how to interview successfully and
                             negotiate compensation, and how to research employment related benefits and legal matters.</p>
						
					</section>
					
					<section class="4u">
						<div id="sidebar">
							
							
						</div>
					</section>			

				</div>
			</div>
        </div>		
		
			<div class="container">			
			
	</body>
</html>
